
.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/Voidfinding.iml

.idea/workspace.xml

Voidfinding/__pycache__/plotDelaunay.cpython-35.pyc

Voidfinding/__pycache__/plotDelaunay.cpython-35.pyc

*.pyc

*.pyc
